.hexagon-container {
  display: grid;
  grid-gap: $hex-between $hex-between;
}
.hexagon {
  align-items: center;
  background-color: $hexagon-colour;
  display: flex;
  fill: white;
  height: $hex-height;
  justify-content: center;
  margin: $hex-border 0;
  position: absolute;
  transition: $hex-transition;
  width: $hex-width;
  background-color: $hexagon-colour;
  border-top-color: $hexagon-colour;
  border-bottom-color: $hexagon-colour;
  color: $text-colour;
}
.hexagon::after,
.hexagon::before {
  border-left: $hex-margin solid transparent;
  border-right: $hex-margin solid transparent;
  content: '';
  left: 0;
  position: absolute;
  transition: $hex-transition;
  width: 0;
}
.hexagon::after {
  border-top: $hex-border solid $hexagon-colour;
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: $hex-border solid $hexagon-colour;
  bottom: 100%;
}
.hexagon:hover {
  background-color: $hexagon-colour-hover;
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: $hexagon-colour-hover;
  border-bottom-color: $hexagon-colour-hover;
}

// .hexagon > svg {
//   height: 75%;
//   transition: $hex-transition;
// }
