.tile {
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: white;
  height: $tile-height;
  justify-content: center;
  position: absolute;
  transition: $tile-transition;
  width: $tile-width;
  color: $text-colour;
  z-index: 99;
}
.tile::after,
.tile::before {
  border-left: $tile-margin solid transparent;
  border-right: $tile-margin solid transparent;
  content: '';
  left: 0;
  position: absolute;
  transition: $tile-transition;
  width: 0;
}

.tile-light::after {
  border-top: $tile-border solid $tile-colour;
  top: 100%;
  width: 0;
}

.tile-light::before {
  border-bottom: $tile-border solid $tile-colour;
  bottom: 100%;
}

.tile-dark::after {
  border-top: $tile-border solid $tile-colour-dark;
  top: 100%;
  width: 0;
}

.tile-dark::before {
  border-bottom: $tile-border solid $tile-colour-dark;
  bottom: 100%;
}

.tile > svg {
  height: 95%;
  transition: $tile-transition;
}

.dark {
  background-color: $tile-colour-dark;
  border-top-color: $tile-colour-dark;
  border-bottom-color: $tile-colour-dark;
}

.light {
  background-color: $tile-colour;
  border-top-color: $tile-colour;
  border-bottom-color: $tile-colour;
}
