.tile-set {
  display: grid;
  background-color: $tile-set-colour;
  border-radius: 5px;
  padding: 10px;
  width: $tile-width + 40px;

  .tile {
    margin: 30px 10px;
    position: relative;
  }
}
