$base-colour: rgba(253, 253, 150, 0.7);

$hexagon-colour: #ababab;

$hexagon-colour-hover: #e3e3e3;

$tile-colour: #eee9d9;
$tile-colour-dark: #515151;

$text-colour: #fff;

$tile-set-colour: rgba(169, 169, 169, 0.4);
