/* Change this to change the appearance of the hexaons */
$hex-width: 80px;
$hex-between: 7px;
/* Other hexagon dimentions */
$hex-height: $hex-width / 1.73 /* sqrt(3) */;
$hex-margin: $hex-width / 2;
$hex-border: $hex-margin / 1.73 /* sqrt(3) */;
$hex-transition: all 0.2s ease;

$tile-width: 70px;
$tile-height: $tile-width / 1.73;
$tile-margin: $tile-width / 2;
$tile-border: $tile-margin / 1.73;
$tile-transition: all 0.2s ease;
