@import 'modules/_colour.scss';
@import 'modules/variables.scss';

@import 'components/_hexagon.scss';
@import 'components/_tile.scss';
@import 'components/tileset.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $base-colour;
  position: relative;
}
